<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'header.html' %}
  <script src="../static/script/newCalendar.js"></script>

  <script>

  var table_data0 = '{{actList|tojson}}'

  // console.log(table_data0)
  $(document).on('click', '#searchFriendBtn', function(event){
    console.log("search friend")
      var searchText = $('#searchFriendText').val();
      console.log("searchText",searchText)
      $.ajax({
        type: "POST",
        url: "/searchpeople/",
        cache: false,
        data: {names:searchText},
        dataType:'json',
        success: function(data) {
          var list= document.getElementById("searchResult");
          var $list = $('#searchResult');
          list.innerHTML = "";
          var wrList = data['wrong'];
          var frList = data['friends'];
          var stList = data['strangers'];
          for(n in stList){
            s = "<li id='"+stList[n][0]+"'>"+stList[n][1]+"</font><button style='float:right' type='button' onclick=\"addcon('"+stList[n][0]+"','"+stList[n][1]+"')\" class='btn btn-info'>+ Add  </button></br>"+stList[n][0]+"</font></li>";
            $list.append(s);
          }
          for(n in wrList){
            $list.append("<li>"+wrList[n]+"<font size='2' color='grey'> no such user </font></li>");
          }
          for(n in frList){
            s="<li id='"+frList[n][0]+"'>"+frList[n][1]+"<button style='float:right' type='button' onclick=\"delcon('"+frList[n][0]+"','"+frList[n][1]+"')\" class='btn btn-error'>Delete</button></br> "+frList[n][0]+"</li>";
            $list.append(s);
          }
        }
      });
  });

function delcon(fid,fname){
    $.ajax({
      type: "GET",
      url: "/delcon/",
      data: {id:fid},
      cache: false,
      success: function() {
        document.getElementById(fid).innerHTML = "";
        $("li[id='"+fid+"']").append("<font size='4'>"+fname+"</font><button style='float:right' type='button' onclick=\"addcon('"+fid+"','"+fname+"')\" class='btn btn-info'>+ Add  </button></br><font size='2' color='grey'> "+fid+"</font>");
      }
    });
  }
  function addcon(fid,fname){
    $.ajax({
      type: "GET",
      url: "/addcon/",
      data: {
        id:fid,
        name:fname,
      },
      cache: false,
      success: function() {
        document.getElementById(fid).innerHTML = "";
        $("li[id='"+fid+"']").append("<font size='4'>"+fname+"</font><button style='float:right' type='button' onclick=\"delcon('"+fid+"','"+fname+"')\" class='btn btn-error'>Delete</button></br><font size='2' color='grey'> "+fid+"</font>");
      }
    });
  }
  
  function getInv(){
    $.ajax({
      type: "POST",
      url: "/getinv/",
      cache: false,
      success: function(data) {
        document.getElementById("invTbody").innerHTML = "";
        var obj = JSON.parse(data);
        for ( str in obj ){
          var status="unknown";
          if(obj[str][2]=='v'){
            status="voting";
          }
          else if (obj[str][2]=='f'){
            status="finished";
          }
          $('#invTbody').append("<tr><td><a href=\"{{url_for('invitation',inv_id='"+obj[str][0]+"',host='true')}}\">"+obj[str][1]+"</a></td><td>"+status+"</td><td>"+obj[str][3]+"</td></tr>");
        }
      }
    });
    return true;
  }

  $(document).on('click','.accept-event-btn',function(e) {// mouse click
      var iid = $(this).data('id');
      console.log("iid",iid)
      $.ajax({
        type: "GET",
        url: "/joinInv/",
        data: {
          iid:iid
        },
        cache: false,
        success: function(data) {
          var iid=JSON.parse(data)["iid"]
          $("#acceptEvent"+iid+"Btn").prop("disabled",true);
        }
      })
  });

  function getEve(){
    $.ajax({
      type: "POST",
      url: "/geteve/",
      cache: false,
      dataType: "json",
      success: function(data) {
        document.getElementById("eveTbody").innerHTML = "";
        for ( n in data ){
          var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
          var startTime = new Date(data[n]["start"]).toLocaleString("en-US");
          var endTime = new Date(data[n]["end"]).toLocaleString("en-US");
          var accepted = data[n]["accepted"]
          $('#eveTbody').append("<tr><td><a id='invitation"+data[n]["id"]+"Link'>"+data[n]["title"]+"</a></td><td>"+startTime+"</td><td>"+endTime+"</td><td>"+data[n]["host"]+"</td><td>"+data[n]["participants"]+"</td><td>"+data[n]["description"]+"</td><td>"+data[n]["state"]+"</td><td><button id='acceptEvent"+data[n]["id"]+"Btn' class='accept-event-btn' data-id="+data[n]["id"]+" data-accepted="+accepted+">Accept</button></td></tr>");
          $("#invitation"+data[n]["id"]+"Link").attr("href", "/invitation/"+data[n]["id"])
          
          if (accepted || data[n]["state"]=="closed"){
            $("#acceptEvent"+data[n]["id"]+"Btn").prop("disabled",true);
          }
        }
      }
    });
    return true;
  }
  function getCon(){
	
    $.ajax({
      type: "POST",
      url: "/getcon/",
      cache: false,
      success: function(data) {
        document.getElementById("contactList").innerHTML = "";
        var friendList = JSON.parse(data);
        for ( str in friendList ){
          uid = friendList[str][0];
          uname = friendList[str][2];
          if(uname==''){
            uname = friendList[str][1];
          }
          $('#contactList').append("<label><input type=\"checkbox\" name=\"usercheckbox\" value="+uid+"> "+uname+" </label><br>");
        }
      }
    });
    return true;
  }
  </script>
</head>
<body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- <div class="container-fluid"> -->
          <!-- <div class="navbar-brand"> -->
            <a href="#" class="navbar-brand mb-0 h1"> Meeting Scheduler </a>
<!--           </div>
 -->
          <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Search friend
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <input type="text" id="searchFriendText" placeholder="Search for friends.." name="search">
                <button type="button" id="searchFriendBtn">search</button>
                <ul id="searchResult"></ul>
            </div>
          </div> -->

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto user-info-nav">
              {% if uname|length >0 %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
              </li>
              <li class="nav-item active"> 
                <a class="nav-link" href="#"> {{uname}}</a>
              </li>
              {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('login') }}">Log in </a>
              </li>
              <li class="nav-item active">
                <a  class="nav-link" href="{{ url_for('signup') }}">Sign up </a>
              </li>
              {% endif %}
            </ul>
            
          </div>
      </nav>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#myCalendar">Calendar</a></li>
    <!--li><a data-toggle="tab" href="#invitations" onclick="getInv()">Invitations</a></li-->
    <li><a data-toggle="tab" href="#events" onclick="getEve()">Events</a></li>
    <li><a data-toggle="tab" href="#suggestions" class="suggestions-tag">Check your suggestions</a></li>
    <!--li><a data-toggle="tab" href="#goose" onclick="getCon()">Start an event</a></li-->
    <li><a href="/supCalendarPage">Start an event</a></li>
  </ul>

  <div class="tab-content">
    
    {% include 'userCalendarPane.html' %}
	
    <div id="invitations" class="tab-pane fade">
      <h3>Invitations I started</h3>
      <!--p>to be filled.</p-->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>State</th>
            <th>Votes</th>
          </tr>
        </thead>
        <tbody id="invTbody">
        </tbody>
      </table>
    </div>

    <div id="events" class="tab-pane fade">
      <h3>Events I Joined</h3>
      <!--p>to be filled.</p-->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>start</th>
            <th>end</th>
            <th>host</th>
            <th>participants</th>
            <th>description</th>
            <th>State</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody id="eveTbody">
        </tbody>
      </table>
    </div>

    <div id="suggestions" class="tab-pane fade">
      <h3>Here is your report!</h3>
      <!--p>to be filled.</p-->
      <div>
      	<h2> Percentage of setting up activities</h2>
      	<h3>Last week you have set <span id="sug_week_perc"> </span>% of time for activities!</h3>
	  	<h3>Last weekend you have set <span id="sug_weekend_perc"> </span>% of time for activities!</h3>
	  	<h3>Last weekday you have set <span id="sug_weekday_perc"> </span>% of time for activities!</h3>
      	<img src='../static/img/activities.png'>
      </div>
      
      <div>
      	<h2> Percentage of unwillingness for social events</h2>
	  	<h3>Last week you have average <span id="unw_week_perc"> </span>% of unwillingness for social events!</h3>
	  	<h3>Last weekend you have average <span id="unw_weekend_perc"> </span>% of unwillingness for social events!</h3>
	  	<h3>Last weekday you have average <span id="unw_weekday_perc"> </span>% of unwillingness for social events!</h3>
	  	<img src='../static/img/events.png'>
      </div>
	  
      <div>
		  <h2> Late sleep day</h2>
		  <h3>Last week you have <span id="late_week"> </span> days are late for sleep</h3>
		  <h3>Last weekend you have <span id="late_weekend"> </span> days are late for sleep</h3>
		  <h3>Last weekday you have <span id="late_weekday"> </span> days are late for sleep</h3>
		  <img src='../static/img/sleep.jpeg' width="70%", height="70%">
	  </div>
      
      <div>
	      <h2>Suggestion</h2>
	      <h3 id="sug_for_activity"></h3>
	      <h3 id="sug_for_events"></h3>
	      <h3 id="sug_for_late_sleep"></h3>
	      <img src='../static/img/suggestion.jpeg'>
	  </div>
      <!-- <table class="table table-hover">
        <thead>
        	<tr>
        		<th>Total number of activity</th>
        		<th>Total times spend on activity</th>
        		<th>Average times spend on activity</th>
        		<th>Average number of unwillingness</th>
        	</tr>
        	 <tbody id="activityTbody">
	        	 <tr>
	        	 	<th></th>
	        		<th></th>
	        		<th></th>
	        		<th></th>
	        	</tr>
       	 	</tbody>
        </thead>
      </table> -->
    </div>

    
    
	  
	</div>


  
  <!-- Form for the activity's information -->
  <!--div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	 <div class="modal-dialog" role="document">
	  <div class="modal-content">
	  <div class="modal-header">
	   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	   <h4 class="modal-title" id="myModalLabel">New Evnet</h4>
	  </div>
	  <div class="modal-body">
	 
	   <div class="form-group">
	   <label for="txt_statu">Description</label>
	   <input type="text" name="tag_txt" class="form-control" id="tag_text" placeholder="内容">
	   </div>
	  </div>
	  <div class="modal-footer">
	   <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>close</button>
	   <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" onclick="save_activity()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>save</button>
	  </div>
	  </div>
	 </div>
 </div-->


</div>

<!-- Modal -->


  
	<script language="javascript" type="text/javascript">
	
	//Be cautious with the space in front of the numbers!!!
	var colorlist = ["rgb(255, 255, 255)","rgb(230, 202, 255)","rgb(202, 142, 255)","rgb(177, 91, 255)"];
	//Will be changed
	// var linenum = 24;
	
	// var tds = $(".timeunit1");
	// var impose_tds = $(".timeunit2");
	
	//     for(var i = 0; i < impose_tds.length; i++){
 //        impose_tds[i].index = i;
	// 	}
	// var multi_flag = false;
	// var start_index = -1;
	
	// var table_data0;
	// table_data0=table_data0.substr(1,table_data0.length-2);
	// var table_data=JSON.parse(table_data0);
	// console.log(table_data);
	
	
	function render_table_data(){
		for(var i = 0; i < tds.length; i++){
			tds[i].style.backgroundColor = colorlist[0];
			tds[i].innerText = '';
		}
		for(var i = 0; i < table_data.time.length; i++){
			var act = table_data.time[i];
			console.log("act: "+JSON.stringify(act));
			for(var j = act.start; j <= act.end; j++){
				//console.log(j)
				var t_index = myid_to_id(j);
				//console.log(t_index)
				tds[t_index].innerText = act.title;
				tds[t_index].style.backgroundColor = colorlist[1];
			}
		}
		set_color_by_selectedlist();
	}
	
	function myid_to_id(tmp){
		var num = (tmp%linenum)*7+(parseInt(tmp/linenum));
		return num;
	}
	
	function id_to_myid(tmp){
		var num = (tmp%7)*linenum+(parseInt(tmp/7));
		return num;
	}
	//num are myid!!!
	var selectedlist = [];
	//num is in selectedlist
	function index_in_selectedlist(num){
		for(var i = 0; i < selectedlist.length; i++){
			if(num == selectedlist[i]){
				return i;
			}
		}
		return -1;
	}
	
  //   for(var i = 0; i < tds.length; i++){
  //       tds[i].index = i;
  //       tds[i].onclick = function (e) {
		// //Add the function of multichoice
		// 	console.log(e.shiftKey);
		//     if(e.shiftKey && start_index != -1){
		// 	    //Judge which is bigger
		// 		if(start_index % 7 > this.index % 7 || (start_index % 7 == this.index % 7 &&  parseInt(start_index / 7)>parseInt(this.index / 7)))
		// 		{
		// 			var x1=start_index % 7,y1=parseInt(start_index / 7),x0= this.index % 7,y0 = parseInt(this.index / 7);
		// 		}
		// 		else{
		// 			var x0=start_index % 7,y0=parseInt(start_index / 7),x1= this.index % 7,y1 = parseInt(this.index / 7);
		// 		}
		// 		console.log(x0+" "+y0+" "+x1+" "+y1);
		// 		var count = (x1*linenum+y1)-(x0*linenum+y0);
		// 		console.log("count:"+count);
		// 		for(var i =0;i<=count; i++){
		// 			var tmp = (x0*linenum+y0+i);
		// 			//console.log("tmp:"+tmp);
		// 			//var t_index = (tmp%linenum)*7+(parseInt(tmp/linenum));
		// 			var t_index = myid_to_id(tmp);
		// 			//console.log("t_index:"+t_index);
		// 			if(tds[start_index].style.backgroundColor == colorlist[0]){
		// 				//tds[t_index].style.backgroundColor = colorlist[0];
		// 				var tt = index_in_selectedlist(tmp)
		// 				if(tt != -1){
		// 					selectedlist.splice(tt,1);
		// 				}
		// 				render_table_data();
						
		// 			}
		// 			else {
		// 				tds[t_index].style.backgroundColor = colorlist[3];
		// 				var tt = index_in_selectedlist(tmp)
		// 				if(tt == -1){
		// 					selectedlist.push(tmp);
		// 				}
		// 				render_table_data();
		// 			}
		// 		}
		// 	}
		// 	//Not pressing shift
		// 	else{
		// 		if(tds[this.index].style.backgroundColor == colorlist[3]){
		// 			console.log("switch to white!");
		// 			//tds[this.index].style.backgroundColor = colorlist[0];
		// 			start_index = this.index;
		// 			var tmp = index_in_selectedlist(id_to_myid(this.index))
		// 			if(tmp != -1){
		// 				selectedlist.splice(tmp,1);
		// 			}
		// 			render_table_data();
		// 		}
		// 		else {
		// 			console.log("switch to purple!");
		// 			//tds[this.index].style.backgroundColor = colorlist[3];
		// 			start_index = this.index;
		// 			var tmp = index_in_selectedlist(id_to_myid(this.index))
		// 			if(tmp == -1){
		// 				selectedlist.push(id_to_myid(this.index));
		// 			}
		// 			render_table_data();
		// 		}
		// 	}
            
  //       }
  //   }
	
	//render_table_data();
	
	
	
	function set_color_by_selectedlist(){
		for(var i = 0; i < selectedlist.length; i++){
			tds[myid_to_id(selectedlist[i])].style.backgroundColor = colorlist[3];
		}
	}
	
	function clear_timetable(){
		for(var i = 0; i < tds.length; i++){
			tds[i].style.backgroundColor = colorlist[0];
			tds[i].innerText = '';
		}
	}
	function save_schedule(){
		
		var save_data={"id":[]};
		for(var i = 0; i < tds.length; i++){
			tds[i].index = i;
			if(tds[i].style.backgroundColor == colorlist[3])
			{
				save_data.id.push(i);
			}
		}
		save_data_json = JSON.stringify(save_data);
		console.log(save_data_json);
		
		
		//send the data
		$.ajax({
			type: 'POST',
			url: "/save_time/",
			data: JSON.stringify(save_data_json), 
			contentType: 'application/json; charset=UTF-8',
			dataType: 'json', 
			success: function(data) { 
				console.log("sent")
				console.log(data)
			},
			error: function(e) {
			}
		});
	}
	
	function clear_schedule(){
		console.log("clear");
		var tds = document.getElementsByTagName('td');
		for(var i = 0; i < tds.length; i++){
			tds[i].style.backgroundColor = colorlist[0];
		}
		selectedlist=[];
		render_table_data();
		//clear the table data?
		//todo
	}
	
	function add_activity(){
		$('#myModal').modal();
	}
	
	function save_activity(){
		var tag_text = $('#tag_text').val();
		selectedlist.sort(function(a,b){
      return a-b});
		console.log("selectedlist:"+selectedlist);
		//for(var i = 0; i < selectedlist.length; i++){
		//	tds[selectedlist[i]].innerText = tag_text;
		//}
		//not empty
		if(selectedlist.length > 0){
			var new_act = {"title":tag_text,"start":selectedlist[0],"end":selectedlist[selectedlist.length-1]};
			var new_act_json = JSON.stringify(new_act);
			
			//clear the selectedlist
			selectedlist=[];
			//update table data
			table_data.time.push(new_act);
			render_table_data();
			
			//send the data
			$.ajax({
				type: 'POST',
				url: "/save_activity/",
				data: JSON.stringify(new_act_json), 
				contentType: 'application/json',
				dataType: 'json', 
				success: function(data) { 
					console.log("sent")
					console.log(data)
				},
				error: function(e) {
				console.log(e)
				}
			});
			
			
		}
		
	}
	
	//Find a timeunit if in activities
	function index_in_activity(num){
		for(var i = 0; i < table_data.time.length; i++){
			var act = table_data.time[i];
			if(num >= act.start && num <= act.end){
				return i;
			}
		}
		return -1;
	}
	
	function delete_activity(){
		for(var i = 0; i < selectedlist.length; i++){
			var num = selectedlist[i];
			var tmp = index_in_activity(num);
			if(tmp != -1){
				var del_act = table_data.time[tmp];
				var del_act_json = JSON.stringify(del_act);
				
				table_data.time.splice(tmp,1);
				
				//send the data
				$.ajax({
					type: 'POST',
					url: "/delete_activity/",
					data: JSON.stringify(del_act_json), 
					contentType: 'application/json; charset=UTF-8',
					dataType: 'json', 
					success: function(data) { 
						console.log("sent")
						console.log(data)
					},
					error: function(e) {
					console.log(e)
					}
				});
				
				//clear the selectedlist
				selectedlist=[];		
				render_table_data();
			}
		}
		
		
	}
	
	
	// var bkdata0;
	// //console.log(bkdata0);
	// bkdata0=bkdata0.substr(1,bkdata0.length-2);
	// var bkdata=JSON.parse(bkdata0);
	// console.log(bkdata);
	
	function set_color(){
		for(var i = 0;i<bkdata.color1.length; i++){
			impose_tds[bkdata.color1[i]].style.backgroundColor = colorlist[1];
		}
		for(var i = 0;i<bkdata.color2.length; i++){
			impose_tds[bkdata.color2[i]].style.backgroundColor = colorlist[2];
		}
		for(var i = 0;i<bkdata.color3.length; i++){
			impose_tds[bkdata.color3[i]].style.backgroundColor = colorlist[3];
		}
	}
	
	function superimpose_schedule(){
	    var usrdata ={"id":[]};
		$("input[name='usercheckbox']:checked").each(function(){
		  usrdata.id.push($(this).val());
		});
		user_data_json = JSON.stringify(usrdata);
		$.ajax({
			type: 'POST',
			url: "/get_color/",
			data: JSON.stringify(user_data_json), 
			contentType: 'application/json; charset=UTF-8',
			dataType: 'json', 
			success: function(data) { 
				console.log(data);
				set_color(data);
			},
			error: function(e) {
			}
		});
	}
	</script>
</body>

</html>
