<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gooseberry</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Gooseberry</a>
    </div>
  </div>
</nav>

<div class="container">
  <h2> TITLE </h2><h4> voting </h4>
  <p> starter:xxx </p>
  <p> introduction </p>
  <p> invitation period </p>
  <form role="form">
    <div class="checkbox">
      <label><input type="checkbox" value="">slot 1</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">slot 2</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>slot 3</label>
    </div>
  </form>
  <button type="button" class="btn btn-success"> Join </button>
  <button type="button" class="btn btn-danger"> Delete </button>
  <button type="button" class="btn btn-warning"> Change </button>
  <button type="button" class="btn btn-info"> Add To Group </button>
</div>

</body>
</html>
