<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'header.html' %}
</head>
<body>



<div class="container">
  <h2> {{ event.title }} </h2><h4> voting </h4>
  <p> starter:{{ event.host }} </p>
  <p> description: {{event.description}} </p>
  <p> time: from {{event.start}} to {{event.end}} </p>
  <form role="form">
    <div class="checkbox">
      <label><input type="checkbox" value="">slot 1</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">slot 2</label>
    </div>
    <div class="checkbox disabled">
      <label><input type="checkbox" value="" disabled>slot 3</label>
    </div>
  </form>
  <button type="button" class="btn btn-success"> Join </button>
  <button type="button" class="btn btn-danger"> Delete </button>
  <button type="button" class="btn btn-warning"> Change </button>
  <button type="button" class="btn btn-info"> Add To Group </button>
</div>

</body>
</html>
