<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	
	<body onload="load()">
	<div>
	<table border="5" class="pos_abs">
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100">
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100">
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100">
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>

	</table>
	</div>
	
	</body>
	
	<script language="javascript" type="text/javascript">
	//Be cautious with the space in front of the numbers!!!
	var colorlist = ["rgb(255, 255, 255)","rgb(230, 202, 255)","rgb(202, 142, 255)","rgb(177, 91, 255)"];

	var tds = document.getElementsByTagName('td');
	
	//自己喂的
	var bkdata= {"color1":[5,17,25],"color2":[50,200],"color3":[64,21]};
	
	function load(){
		set_color(bkdata);
	}
	
	function set_color(bkdata){
		console.log(JSON.stringify(bkdata));
		for(var i = 0; i < tds.length; i++){
			tds[i].index = i;
			tds[i].style.backgroundColor = colorlist[0];
		}
		
		for(var i = 0;i<bkdata.color1.length; i++){
			tds[bkdata.color1[i]].style.backgroundColor = colorlist[1];
		}
		for(var i = 0;i<bkdata.color2.length; i++){
			tds[bkdata.color2[i]].style.backgroundColor = colorlist[2];
		}
		for(var i = 0;i<bkdata.color3.length; i++){
			tds[bkdata.color3[i]].style.backgroundColor = colorlist[3];
		}
	}
	
	
	
	
	</script>
</html>

