<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	
	<body>
	{{data}}
	<div>
	<table border="5" class="pos_abs">
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100">
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100">
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100">
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>

	</table>
	</div>
	<button type="button" id="save_btn" class="btn btn-primary" style="height:32px;vertical-align:center" onclick="save_schdule()">Save Schedule</button>
	</body>
	
	<script language="javascript" type="text/javascript">
	//Be cautious with the space in front of the numbers!!!
	var colorlist = ["rgb(255, 255, 255)","rgb(230, 202, 255)","rgb(202, 142, 255)","rgb(177, 91, 255)"];
	
	var tds = document.getElementsByTagName('td');
    for(var i = 0; i < tds.length; i++){
        tds[i].index = i;
		tds[i].style.backgroundColor = colorlist[0];
        tds[i].onclick = function () {
			console.log(tds[this.index].style.backgroundColor);
            if(tds[this.index].style.backgroundColor == colorlist[3]){
				console.log("switch to white!");
				tds[this.index].style.backgroundColor = colorlist[0];
				
			}
			else {
				console.log("switch to purple!");
				tds[this.index].style.backgroundColor = colorlist[3];
			}
        }
    }

	function save_schdule(){
		var save_data={"id":[]};
		for(var i = 0; i < tds.length; i++){
			tds[i].index = i;
			if(tds[i].style.backgroundColor == colorlist[3])
			{
				save_data.id.push(i);
			}
		}
		console.log(JSON.stringify(save_data));
		
		//send the data
		/*$.ajax({
			type: 'POST',
			url: /timetable/,
			data: JSON.stringify(save_data), 
			contentType: 'application/json; charset=UTF-8',
			dataType: 'json', 
			success: function(data) { 
			},
			error: function(type) {
			}
		});*/
	}
	
	</script>
</html>

