<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gooseberry</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/script/form.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Gooseberry</a>
    </div>
  </div>
</nav>

<div class="container">
  <h2>MINING  DEEP KNOWLEDGE  FROM SCIENTIFIC NETWORKS</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createInvitation">Create Invitation</button>

  <!-- Modal -->
  <div id="createInvitation" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Invitation</h4>
        </div>
        <div class="modal-body">
          <form id="createInvForm" class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-1" for="title">Title:</label>
              <div class="col-sm-6">
                <input class="form-control" name="title" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1" for="duration">Duration:</label>
              <div class="col-sm-6">
                <input class="form-control" name="duration" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1" for="explain">Explain:</label>
              <div class="col-sm-6">
                <input class="form-control" name="explain" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-1" for="options">Options:</label>
              <div class="col-sm-6">
                <input class="form-control" name="options" placeholder="">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="CreateInvitation()" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </form>
  
  <div class="container">
  <div class="col-md-8">
  	<table border="5" class="pos_abs">
		<h3>This week : {{ date }}</h3>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100">
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100">
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100">
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
		<tr>
		<td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td><td height="15" width="100"></td>
		</tr>
	  </table>
	  </div>
	  <div class="col-md-2">
	  <div style="overflow-y:auto;overflow-x:hidden;height:160px">
	  <p>Friend list</p>
		<ul id="intervieweelist" style="list-style-type:circle;height:auto">
			{% for i in friendlist %}
              <label><input type="checkbox" name="usercheckbox" value={{i.id}}> {{i.id}} </label>
			  <br>
			{% endfor %}
		</ul>
	  </div>
	  <button type="button" id="superimpose_btn" class="btn btn-primary" style="height:32px;vertical-align:center" onclick="superimpose_schedule()">Superimpose</button>
	  </div>
	</div>
	</div>

</div>

</body>

	<script language="javascript" type="text/javascript">
	//Be cautious with the space in front of the numbers!!!
	var colorlist = ["rgb(255, 255, 255)","rgb(230, 202, 255)","rgb(202, 142, 255)","rgb(177, 91, 255)"];

	var tds = document.getElementsByTagName('td');
	
	var bkdata0='{{bgcolor|tojson}}';
	bkdata0=bkdata0.substr(1,bkdata0.length-2);
	var bkdata=JSON.parse(bkdata0);
	console.log(bkdata);
	set_color(bkdata);

	
	function set_color(bkdata){
		console.log(JSON.stringify(bkdata));
		for(var i = 0; i < tds.length; i++){
			tds[i].index = i;
			tds[i].style.backgroundColor = colorlist[0];
		}
		
		for(var i = 0;i<bkdata.color1.length; i++){
			tds[bkdata.color1[i]].style.backgroundColor = colorlist[1];
		}
		for(var i = 0;i<bkdata.color2.length; i++){
			tds[bkdata.color2[i]].style.backgroundColor = colorlist[2];
		}
		for(var i = 0;i<bkdata.color3.length; i++){
			tds[bkdata.color3[i]].style.backgroundColor = colorlist[3];
		}
	}
	
	function superimpose_schedule(){
	    var usrdata ={"id":[]};
		$("input[name='usercheckbox']:checked").each(function(){
		  usrdata.id.push($(this).val());
		});
		user_data_json = JSON.stringify(usrdata);
		$.ajax({
			type: 'POST',
			url: "/get_color/",
			data: JSON.stringify(user_data_json), 
			contentType: 'application/json; charset=UTF-8',
			dataType: 'json', 
			success: function(data) { 
				console.log(data);
				set_color(data);
			},
			error: function(e) {
			}
		});
	}
	</script>
</html>
